html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f8f8f8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #ffffff;
}
header .headerLogo {
  width: 52px;
  height: 48px;
  background: url(../img/headerLogo.svg);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Verdana;
}
main > p {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #2b2829;
  margin-top: 56px;
  margin-bottom: 32px;
}

.tabs {
  width: 736px;
  height: 568px;
  margin-bottom: 200px;
}
.tabs > input {
  display: none;
  position: absolute;
}
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 11px 24px;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #b9b9b9;
}
.tabs label:hover {
  color: #888;
  cursor: pointer;
}
.tabs input:checked + label {
  color: #2b2829;
  border-top: 2px solid #f50634;
  background: #fff;
}
.tabs > div {
  display: none;
  width: 736px;
  height: 568px;
  padding: 25px;
  padding-top: 32px;
  background: #fff;
}

#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2 {
  display: block;
}

.searchTab input {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 688px;
  height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 5px;
}
.searchTab input:focus {
  outline: none;
  border: 1px solid #fae29f;
  border-radius: 3px;
}
.searchTab > p {
  font-size: 14px;
  line-height: 26px;
}

.addWrapper {
  display: flex;
  width: 500px;
  height: 70px;
  margin-top: 48px;
  align-items: center;
}
.addWrapper span {
  width: 315px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}
.addWrapper .addIcon {
  width: 68px;
  height: 68px;
  background: url(../img/addIcon.svg);
  margin-right: 32px;
}

.suggestions-suggestions {
  border: 1px solid #e5e5e5;
  border-radius: 0px 0px 3px 3px;
}

.suggestions-suggestion:hover {
  background: #f8f8f8;
}

.suggestions-subtext {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #2b292a;
}

.suggestions-value {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.orgWrapper {
  width: 688px;
  height: 300px;
}
.orgWrapper .orgName {
  border-bottom: 1px solid #dfdfdf;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  color: #2b2829;
  margin-top: 40px;
}
.orgWrapper .infoWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.orgWrapper .infoWrapper .numbers {
  display: inline-flex;
  flex-direction: column;
  width: 208px;
  height: 125px;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 24px;
}
.orgWrapper .infoWrapper .numbers span {
  font-size: 14px;
  line-height: 26px;
}
.orgWrapper .infoWrapper .texts {
  display: inline-flex;
  flex-direction: column;
}
.orgWrapper .infoWrapper .texts span.title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #2b2829;
  margin-bottom: 8px;
}
.orgWrapper .infoWrapper .texts span {
  margin-bottom: 24px;
}
.orgWrapper .saveButton {
  background: #f50634;
  border-radius: 3px;
  width: 186px;
  height: 46px;
  border: none;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  outline: none;
}
.orgWrapper .saveButton:hover {
  cursor: pointer;
  background: #971932f5;
}
.orgWrapper .clickedButton {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #b9b9b9;
  width: 150px;
  height: 34px;
}
.orgWrapper .clickedButton .clickedImg {
  background: url(../img/doneIcon.svg);
  width: 16px;
  height: 13px;
  margin-right: 8px;
}

.savedWrapper {
  height: 200px;
  background: blanchedalmond;
}
