html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f8f8f8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #ffffff;
  .headerLogo {
    width: 52px;
    height: 48px;
    background: url(../img/headerLogo.svg);
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Verdana;
  > p {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #2b2829;
    margin-top: 56px;
    margin-bottom: 32px;
  }
}

.tabs {
  width: 736px;
  height: 450px;
  > input {
    display: none;
    position: absolute;
  }
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 11px 24px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #b9b9b9;
  }
  label:hover {
    color: #888;
    cursor: pointer;
  }
  input:checked + label {
    color: #2b2829;
    border-top: 2px solid #f50634;
    background: #fff;
  }
  > div {
    display: none;
    width: 736px;
    height: 450px;
    padding: 25px;
    padding-top: 32px;
    background: #fff;
  }
}

#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2 {
  display: block;
}

.searchTab {
  input {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 688px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-top: 5px;
  }
  > p {
    font-size: 14px;
    line-height: 26px;
  }
}

.addWrapper {
  display: flex;
  width: 500px;
  height: 70px;
  margin-top: 48px;
  align-items: center;
  span {
    width: 315px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
  }
  .addIcon {
    width: 68px;
    height: 68px;
    background: url(../img/addIcon.svg);
    margin-right: 32px;
  }
}
